@charset "UTF-8";
@media (min-width: 700px) {
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/geometric.jpg");
    background-size: cover;
    opacity: 0.07;
    pointer-events: none;
    z-index: -1;
  }
  body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 22%;
    width: 56%;
    height: 100%;
    background-color: white;
    z-index: -1;
  }
}
html, body {
  overflow-x: hidden; /* Prevents horizontal scrolling on the entire page */
  max-width: 100%; /* Ensures the page does not exceed the viewport width */
}

body {
  margin: 0;
  font-family: sans-serif, Verdana, Arial, Helvetica;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  align-items: center;
  margin-left: 24%;
  margin-right: 24%;
}

h2 {
  padding-left: 1%;
  font-size: 18px;
}

p {
  font-size: 17px;
}

pre, code {
  display: block;
  margin: auto;
  font-size: 16px;
  border-radius: 10px;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: rgb(255, 0, 64);
}

img {
  display: block;
  margin: auto;
  width: 100%;
  padding-bottom: 10px;
  border-radius: 10px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

a {
  color: rgb(255, 187, 0);
}
a:hover, a:focus {
  color: rgb(255, 0, 64);
}

@media (max-width: 700px) {
  main {
    margin-left: 2%;
    margin-right: 2%;
  }
  h2 {
    padding-left: 10px;
    font-size: 18px;
  }
  img {
    width: 92%;
    max-width: 600px;
  }
  hr {
    width: 92%;
  }
  pre, code {
    width: 100%;
    border-radius: 10px;
  }
  #topnav {
    flex-direction: column;
    align-items: flex-start;
  }
  #topnav a {
    width: 100%; /* zajmują całą szerokość */
  }
}
#topnav {
  position: sticky;
  top: 0;
  z-index: 100;
  overflow-x: auto;
  white-space: nowrap;
  background-color: #0e0e0e;
  display: flex;
  align-items: left;
}
#topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
  transition: max-height 0.3s ease;
}
#topnav #hyper1:hover {
  color: black;
  background-color: rgb(0, 153, 255);
}
#topnav #hyper2:hover {
  color: black;
  background-color: rgb(255, 187, 0);
}
#topnav #hyper3:hover {
  color: black;
  background-color: rgb(255, 0, 64);
}

#logo {
  border-radius: 0px;
  display: inline-block;
  height: 40px;
  padding-bottom: 0px;
  margin: 0px;
  margin-left: 5px;
  margin-top: 2px;
  margin-right: 5px;
  width: auto;
}

#hamburger {
  display: none; /* domyślnie ukrywamy */
  font-size: 24px;
  background: none;
  border: none;
  color: #f2f2f2;
  padding: 14px 10px;
  cursor: pointer;
}

/* kiedy menu ma klasę .open – wszystkie linki pokazujemy jako blok, jeden pod drugim */
#topnav.open a {
  display: block !important;
}

footer {
  background-color: rgb(0, 153, 255);
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: relative;
}

/*# sourceMappingURL=styledev.css.map */
