body {
    margin: 0;
    font-family: sans-serif, Verdana, Arial, Helvetica;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    flex: 1;
}

h1,h2,p {
    padding-left: 24%;
    padding-right: 24%;
}

h2 {
    padding-left: 25%;
    font-size: 18px;
}

p { font-size: 17px; }

hr {
    width: 52%;
    height: 1px;
    border: none;
    background-color: black;
}

img {
    display: block;
    margin: auto;
    width: 52%;
    padding-bottom: 10px;
}

@media (max-width: 700px) {
    h1,p {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    h2 {
        padding-left: 30px;
        padding-right: 20px;
        font-size: 18px;
    }

    img {
        width: 92%;
        max-width: 600px;
    }

    hr {width: 92%;}
}

#topnav {
    overflow: hidden;
    background-color: #0e0e0e;
    display: flex; /* flexbox */
}

#logo {
    float: left;
    display: block;
    height: 40px;
    width: auto;
}

#topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none; /* removes underlining */
    font-size: 17px;
}

#topnav a:hover {
    background-color: #1ed14b;
    color: black;
}

footer {
    background-color: #1ed14b;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative; 
}